@charset "UTF-8";
/* Colour scheme: paste color tones (@schemecolor) */

/* GENERAL */
body, html {
	margin: 0;
	width: 100%;
	height: 100%;
	padding: 0;
	background-color: #957DAD;
	text-align: center;
	letter-spacing: 1px;
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	font-size: 16px;
	color: white;
}


/* HEADER */
h1 {
	padding: 1vh 0;
	margin: 0;
}

header {
	background-color: #D291BC;
}



/* MAIN */
main {
	padding-top: 20vh;
	font-size: 1.3em;
}

#form-string {
	display: block;
	margin: 0 auto 2vh;
	border: none;
	border-bottom: 1px black solid;
	background-color: transparent;
	text-align: center;
	font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-size: 1em;
	color: white;
}

#form-string::placeholder {
	text-align: center;
	font-style: italic;
	color: white;
}

#form-submit {
	display: block;
	margin: 0 auto;
	border: 3px #FEC8D8 solid;
	border-radius: 5px;
	padding: 4px 20px;
	background-color: #FFDFD3;
	font-family: "Lucida Bright", Georgia, serif;
	font-size: 1.1em;
}

#form-submit:active {
	background-color: #DF9881;
	color: white;
}



/* FOOTER */
footer {
	position: absolute;
	bottom: 0;
	min-width: 100%;
	padding: 1vh 0;
	background-color: #DF9881;
	font-size: 1.5em;
	color: white;
}

.more-link {
	color: black;
}

.more-link:active {
	color: seagreen !important;
}

.more-link:focus {
	color: cornflowerblue;
}

.more-link:hover {
	color: crimson;
}

#copyright {
	display: block;
}

#more {
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	padding-top: 1vh;
}